@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, button {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #303030;
}

button {
  border: none;
  cursor: pointer;
}

#app {
  height: 100%;
}