<template>
  <div class="puzzle">
    <h1 class="puzzle__title">
      15 Puzzle
    </h1>
    <div class="puzzle__container">
      <div class="puzzle__table">
        <transition-group name="cell" tag="ul" class="puzzle__tiles-list">
          <template v-for="(tilesRow, i) in tiles">
            <li v-for="(tile, j) in tilesRow" :key="tile || 'null'">
              <button v-if="tile" class="puzzle__button puzzle__button_tile" @click="move(i, j)">
                {{ tile }}
              </button>
              <div v-else class="puzzle__dummy"></div>
            </li>
          </template>
        </transition-group>
        <div v-show="showWin" class="puzzle__info">
          <span class="puzzle__line">You won!</span>
          <span class="puzzle__line">Congratulations!</span>
        </div>
        <div v-show="!isStarted && !showWin" class="puzzle__info">
          <span class="puzzle__line">Control: Left click on a tile to move</span>
        </div>
      </div>
      <button class="puzzle__button" @click="start">
        New game
      </button>
    </div>
  </div>
</template>

<script>
import {shuffleToSolvable} from "@/shuffle";

export default {
  name: 'App',

  data() {
    return {
      tiles: [
          [1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12],
          [13, 14, 15, null]
      ],
      isStarted: false,
      showWin: false
    }
  },

  watch: {
    tiles: {
      handler() {
        this.verify();
      },
      deep: true
    }
  },

  methods: {
    start() {
      this.shuffle();
      this.showWin = false;
      this.isStarted = true;
    },

    shuffle() {
      this.tiles = shuffleToSolvable(this.tiles);
      // [this.tiles[3][3], this.tiles[2][3]] = [this.tiles[2][3], this.tiles[3][3]] // for easy win
    },

    move(i, j) {
      const nullPosition = this.getClosestNullPosition(i, j);

      if (nullPosition) {
        const {null_i, null_j} = nullPosition;
        [this.tiles[i][j], this.tiles[null_i][null_j]] = [this.tiles[null_i][null_j], this.tiles[i][j]];
      }
    },

    getClosestNullPosition(i, j) {
      if (i < 3 && this.tiles[i + 1][j] === null) {
        return {
          null_i: i + 1,
          null_j: j
        }
      } else if (i > 0 && this.tiles[i - 1][j] === null) {
        return {
          null_i: i - 1,
          null_j: j
        }
      } else if (j < 3 && this.tiles[i][j + 1] === null) {
        return {
          null_i: i,
          null_j: j + 1
        }
      } else if (j > 0 && this.tiles[i][j - 1] === null) {
        return {
          null_i: i,
          null_j: j - 1
        }
      }

      return null;
    },

    verify() {
      let counter = 1;
      for (let tilesRow of this.tiles) {
        for (let tile of tilesRow) {
          if (counter < 16 && tile !== counter) {
            return;
          }
          counter++;
        }
      }

      this.isStarted = false;
      this.showWin = true;
    }
  }
}
</script>

<style scoped lang="scss">
.cell-move {
  transition: transform 0.5s;
}

.puzzle {
  padding-top: 60px;
  height: 100%;

  color: white;

  &__title {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table {
    position: relative;
    margin-bottom: 20px;
  }

  &__tiles-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;

    padding: 10px;
    border-radius: 10px;

    background-color: #1e1e1e;
  }

  &__button {
    padding: 10px 20px;
    border-radius: 10px;

    background-color: #F58028;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;

    transition: background-color 0.4s;

    &:hover {
      background-color: #d36f22;
    }

    &_tile {
      min-width: 100px;
      min-height: 100px;
      padding: 0;

      font-size: 64px;
      text-align: center;
      vertical-align: center;
      line-height: 100px;
    }
  }

  &__dummy {
    min-width: 100px;
    min-height: 100px;
  }

  &__info {
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: grayscale(50%) blur(10px);
    font-size: 40px;
    line-height: 60px;
  }

  &__line {
    text-align: center;
    max-width: 350px;
  }
}
</style>